<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Description</th>
      <th>Complete</th>
      <th>Who</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td> <td><%= job.description %></td>
        <td>
          <% if job.completed == false%>
            <p>In progress</p>
          <% else %>
            <p>Done</p>
          <% end %>
        </td>
        <% if job.worker_id == nil %>
          <td><p>Available <%= link_to "Claim", job_path(job), :method => "patch" %></p></td>
        <% else %>
        <td><%= Worker.find(job.worker_id).email %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
